* {
  margin: 0;
  padding: 0;
  
}
.Hero{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(206, 191, 191),rgb(204, 207, 204));
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: gray;
    width: 450px;
    height: 670px;
    padding: 10px;
    border-radius: 5px;
}
.Clock{
    height: 230px;
    width: 230px;
    position: relative;
    border: 8px solid white;
    border-radius: 50%;
    background: #333;
    margin-left: 100px;
    margin-top: 15px;
}
.numbers {
  position: absolute;
  margin-top: 24px;
  margin-left: 16px;
  width: 80%;
  height: 70%;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(calc(30deg * var(--i)))
             translateY(-100px)
             rotate(calc(-30deg * var(--i)));
  color: white;
  font-size: 18px;
  font-weight: bold;
}   
.hand {
      position: absolute;
      background-color: white;
      top: 50%;
      left: 50%;
      transform-origin: bottom center;
      transform: translateX(-50%) translateY(-100%) rotate(0deg);
    }
.hour {
      width: 6px;
      height: 50px;
      background-color: #3ce1e1;
    }

.minute {
      width: 4px;
      height: 70px;
      background-color: #ffffff;
    }

.second {
      width: 2px;
      height: 90px;
      background-color: red;
    }

    .center-dot {
      width: 10px;
      height: 10px;
      background: rgb(117, 117, 117);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
.Time{
    background-color: rgb(101, 101, 107);
    border-radius: 10px;
    width: 87%;
    margin-left: 30px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.Time span{
  font-weight: bold;
  width: 80px;
  text-align: center;
  font-size: 70px;
  color: white;
  position: relative;
  
}
.Time span::after{
    font-size: 15px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'Hours';
}
#min::after{
    content: 'Mins';
}
#sec::after{
    content: 'Sec';
}
.StopTimer{
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.buttonSt{
    border: 2px black solid;
    padding: 14px;
    font-size: 40px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttonSt:hover,.alarmButton:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

/* Active (when clicked) effect */
.buttonSt:active,.alarmButton:active {
  transform: scale(0.95);
  background-color: #444;
}
.Alarm{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.alarmButton{
    border: 2px black solid;
    font-size: 50px;
    font-weight: bold;
    border-radius: 20px;
    height: 90px;
    width: 390px;
    cursor: pointer;
    transition: all 0.3s ease;

}
/* Timer css */
.blue{
    width: 450px;
    height: 670px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(143, 143, 146);
    
    }
    .timerdiv{
      background-color: rgb(84, 82, 82);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      font-size: 37px;
      
      padding: 10px;
      border-radius: 10px;
    }
    .inputbox{
      padding: 15px;
      font-size: 25px;
      border: none;
      border-radius: 20px;
      background-color: rgb(205, 200, 200);
      margin-left: 15px;
    }
    .timerBelow{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      background-color: rgb(102, 103, 102);
      padding: 15px;
    }
    .startcss{
      padding: 18px;
      font-weight: bold;
      font-size: 30px;
      border-radius: 5px;
      border: none;
      transition: background-color 0.3s ease, transform 0.1s ease;
      cursor: pointer;
    }
    .startcss:hover {
  background-color: #302f2f; 
  color: white;
}

.startcss:active {
  background-color: #0a0a0a; 
  transform: scale(0.97);   
}

    .closeTimer{
      border: none;
      width: 25px;
      height: 25px;
      font-weight: bold;
    }
    .closeTimer:hover{
      cursor: pointer;
      background-color: rgb(148, 39, 39);
    }
